<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773975208416-7v5g6hko56ak59upgvtsqes6bdfc25fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773975208416-7v5g6hko56ak59upgvtsqes6bdfc25fc</string>
	<key>API_KEY</key>
	<string>AIzaSyARzJ1ywjXrXBLN_OuRk5OZwyUT2nudEcY</string>
	<key>GCM_SENDER_ID</key>
	<string>773975208416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azhar.login2</string>
	<key>PROJECT_ID</key>
	<string>login2-f370f</string>
	<key>STORAGE_BUCKET</key>
	<string>login2-f370f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773975208416:ios:5253da74546dbf31e47b85</string>
</dict>
</plist>